<template>
  <li
    @click="selectValue(value)"
    :class="[valueTypeClass(qValue[0].qNum) , 'pointer', 'lui-list__item', 'item']"
    :style="[{'background-color': cssProps(qValue[0].qState, 'bgColors')}, {'color': cssProps(qValue[0].qState, 'fontColors')}]"
  >
    <span class="lui-list__text text" :title="qValue[0].qText">
      <span
        v-if="qValue[0].qState == 'L'"
        class="lui-icon lui-icon--small lui-icon--lock"
        aria-hidden="true"
      ></span>      
      {{qValue[0].qText}}
    </span>
  </li>
</template>

<script>
export default {
  name: "FieldValue",
  props: ["qValue", "bgColors", "fontColors"],
  data() {
    return {
      value: [{ qText: 1 }],
      styleObject: {
        color: "red",
        fontSize: "13px"
      }
    };
  },
  methods: {
    selectValue: function(value) {
      this.$parent.$emit("clicked", this.qValue[0]);
      this.qValue[0].qState = "O";
    },
    cssProps: function(state, colType) {
      let _this = this;
      let classState = "";

      switch (state) {
        case "S":
          classState = _this[colType].selected;
          break;
        case "O":
          classState = _this[colType].optional;
        case "A":
          classState = _this[colType].alternative;
          break;
        case "D":
          classState = _this[colType].deselected;
          break;
        case "X":
          classState = _this[colType].excluded;
          break;
        case "L":
          classState = _this[colType].locked;
          break;
        case "XS":
          classState = _this[colType].excluded;
          break;
        case "XL":
          classState = _this[colType].excluded;
          break;
      }
      return classState;
    },
    valueTypeClass: function(qNum) {
      let className = "";

      if (qNum == "NaN") {
        className = "left";
      } else {
        className = "right";
      }

      return className;
    }
  },
  computed: {}
};
</script>

<style scoped>
.pointer {
  cursor: pointer;
}

.item {
  height: 30px !important;
  font-size: 15px;
}

.text {
  white-space: nowrap;
  width: 100px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.left {
  text-align: left;
}

.right {
  text-align: right;
}
</style>