<template>
  <div class="field-content">
    <search-box v-if="showSearch"/>

    <!-- <div clsss="field-values"> -->
    <ul class="lui-list values">
      <field-value
        v-for="value in qData"
        :key="value[0].qElemNumber"
        :qValue="value"
        :bgColors="bgColors"
        :fontColors="fontColors"
      />
    </ul>
    <!-- </div> -->
  </div>
</template>

<script>
import SearchBox from "./SearchBox.vue";
import FieldValue from "./FieldValue.vue";

export default {
  name: "QlikFieldContent",
  components: {
    SearchBox,
    FieldValue
  },
  props: ["qData", "showSearch", "bgColors", "fontColors"],
  data() {
    return {
      filter: ""
    };
  }
};
</script>

<style scoped>
.field-values {
  overflow-y: auto;
  overflow-x: hidden;
}

.values {
  overflow: auto;
  /* background-color: #ffffff; */
  height: calc(100% - 36px);
}
</style>