<template>
  <div class="header" :style="{'background-color': headerColors.background}">
    <span
      @click="selectAll"
      class="lui-icon lui-icon--large lui-icon--select-all pointer lui-disabled"
      :style="{'color': headerColors.icons, 'visibility': visibility(headerIcons.selectAll.hidden), 'opacity': opacity(headerIcons.selectAll.enabled)}"
      aria-hidden="true"
      title="Select all"
    ></span>
    <span
      @click="selectAlternative"
      class="lui-icon lui-icon--large lui-icon--select-alternative pointer"
      :style="{'color': headerColors.icons, 'visibility': visibility(headerIcons.selectAlternative.hidden), 'opacity': opacity(headerIcons.selectAlternative.enabled)}"
      aria-hidden="true"
      title="Select alternative"
    ></span>
    <span
      @click="selectExcluded"
      class="lui-icon lui-icon--large lui-icon--select-excluded pointer"
      :style="{'color': headerColors.icons, 'visibility': visibility(headerIcons.selectExcluded.hidden), 'opacity': opacity(headerIcons.selectExcluded.enabled)}"
      aria-hidden="true"
      title="Select excluded"
    ></span>
    <div></div>
    <span
      @click="lock"
      :class="['lui-icon', 'lui-icon--large', hasLocked, 'pointer']"
      :style="{'color': headerColors.icons, 'visibility': visibility(headerIcons.lock.hidden), 'opacity': opacity(headerIcons.lock.enabled)}"
      aria-hidden="true"
      title="Clear all"
    ></span>
    <span
      @click="clearAll"
      class="lui-icon lui-icon--large lui-icon--clear-selections pointer"
      :style="{'color': headerColors.icons, 'visibility': visibility(headerIcons.clearAll.hidden), 'opacity': opacity(headerIcons.clearAll.enabled)}"
      aria-hidden="true"
      title="Clear all"
    ></span>
  </div>
</template>

<script>
export default {
  name: "QlikFieldHeader",
  props: ["qData", "headerColors", "headerIcons"],
  data() {
    return {
      hasLocked: ""
    };
  },
  methods: {
    selectAll: function() {
      let _this = this;
      if (_this.headerIcons.selectAll.enabled  == true) {
        _this.$emit("selectAll");
      }
    },
    selectAlternative: function() {
      let _this = this;

      if (_this.headerIcons.selectAlternative.enabled) {
        _this.$emit("selectAlternative");
      }
    },
    selectExcluded: function() {
      let _this = this;

      if (_this.headerIcons.selectExcluded.enabled) {
        _this.$emit("selectExcluded");
      }
    },
    clearAll: function() {
      let _this = this;

      if (_this.headerIcons.clearAll.enabled) {
        _this.$emit("clearAll");
      }
    },
    lock: function() {
      let _this = this;

      if (_this.headerIcons.lock.enabled) {
        _this.$emit("lock");
      }
    },    
    visibility: function(hidden) {
      if (hidden == true) {
        return "hidden";
      } else {
        return "visible";
      }
    },
    opacity: function(enabled) {
      if (enabled == true) {
        return 1;
      } else {
        return 0.2;
      }
    }
  },
  watch: {
    qData: function(newVal, oldVal) {
      this.hasLocked = checkForLocked(newVal);
    }
  },
  mounted: function() {
    this.hasLocked = checkForLocked(this.qData);
  }
};

function checkForLocked(qData) {
  let hasLocked = false;

  for (let value of qData) {
    if (value[0].qState == "L") {
      hasLocked = true;
      break;
    }
  }

  let icon = "lock";
  if (hasLocked == true) {
    icon = "unlock";
  }
  return `lui-icon--${icon}`;
}
</script>

<style scoped>
.header {
  display: grid;
  grid-template-columns: 40px 40px 40px auto 40px 40px;
  /* background-color: #e6e6e6; */
}

.pointer {
  cursor: pointer;
  align-self: center;
  justify-self: center;
}
</style>