<template>
  <div class="lui-search search-border">
    <span class="lui-icon lui-icon--search lui-search__search-icon"></span>
    <input
      v-model="filter"
      class="lui-search__input"
      maxlength="255"
      spellcheck="false"
      type="text"
      placeholder="Search in field"
    >
    <button class="lui-search__clear-button">
      <span @click="filter = ''" class="lui-icon lui-icon--small lui-icon--close"></span>
    </button>
  </div>
</template>

<script>
export default {
  name: "SearchBox",
  data() {
    return {
      filter: ""
    };
  },
  watch: {
    filter: function(newVal, oldVal) {
      this.$parent.$emit('search', newVal)
    }
  }
};
</script>

<style scoped>
.search-border {
  border-bottom: 1px;
  border-left: 0px;
  border-right: 0px;
  border-top: 1px;
  border-style: solid;
  border-color: #a9a9a9;
}
</style>