<template>
  <div v-on-clickaway="away" id="qlik-field" class="dropdown" :style="{ display: showQlikField }">
    <div>
      <div
        v-if="showArrow"
        class="arrow"
        :style="{'border-color': `transparent transparent ${headerColors.background}`}"
      ></div>
    </div>
    <div class="content" :style="{'border-color': `${headerColors.background}`}">
      <div>
        <field-header
          class="header"
          v-if="showHeader"
          :qData="qData"
          :headerColors="headerColors"
          :headerIcons="headerIcons"
          @selectAll="selectAll"
          @selectAlternative="selectAlternative"
          @selectExcluded="selectExcluded"
          @lock="lock"
          @clearAll="clearAll"
        />
      </div>
      <field-content
        :qData="qData"
        :showSearch="showSearch"
        :bgColors="bgColors"
        :fontColors="fontColors"
        @clicked="clicked"
        @search="search"
      />
    </div>
  </div>
</template>

<script>
import { mixin as clickaway } from "vue-clickaway";
import FieldHeader from "./components/FieldHeader.vue";
import FieldContent from "./components/FieldContent.vue";

export default {
  name: "QlikField",
  components: {
    FieldHeader,
    FieldContent
  },
  props: {
    qData: {
      type: Array,
      required: false,
      default: function() {
        return [
          [
            {
              qText: "This is text",
              qNum: "NaN",
              qElemNumber: 0,
              qState: "S"
            }
          ],
          [
            {
              qText: "1",
              qNum: 1,
              qElemNumber: 1,
              qState: "O"
            }
          ],
          [
            {
              qText: "2",
              qNum: 2,
              qElemNumber: 2,
              qState: "A"
            }
          ],
          [
            {
              qText: "4",
              qNum: 4,
              qElemNumber: 3,
              qState: "D"
            }
          ],
          [
            {
              qText: "5",
              qNum: 5,
              qElemNumber: 4,
              qState: "X"
            }
          ],
          [
            {
              qText: "6",
              qNum: 6,
              qElemNumber: 5,
              qState: "L"
            }
          ],
          [
            {
              qText: "7",
              qNum: 7,
              qElemNumber: 6,
              qState: "XS"
            }
          ],
          [
            {
              qText: "8",
              qNum: 8,
              qElemNumber: 7,
              qState: "XL"
            }
          ],
          [
            {
              qText: "This is a very very very very very very very long text",
              qNum: "NaN",
              qElemNumber: 8,
              qState: "S"
            }
          ],
          [
            {
              qText: "This is to check the scroll",
              qNum: "NaN",
              qElemNumber: 9,
              qState: "S"
            }
          ],
          [
            {
              qText: "And this is to check the scroll",
              qNum: "NaN",
              qElemNumber: 10,
              qState: "S"
            }
          ]
        ];
      }
    },
    clickAway: {
      type: Boolean,
      required: false,
      default: true
    },
    showArrow: {
      type: Boolean,
      required: false,
      default: true
    },
    showSearch: {
      type: Boolean,
      required: false,
      default: true
    },
    showHeader: {
      type: Boolean,
      required: false,
      default: true
    },
    bgColors: {
      type: Object,
      required: false,
      default: function() {
        return {
          locked: "#3194f7",
          selected: "#52cc52",
          optional: "#f9f9f9",
          deselected: "#f9f9f9",
          alternative: "#ddddd",
          excluded: "#a9a9a9",
          excludedSelected: "#a9a9a9",
          excludedLocked: "#a9a9a9"
        };
      }
    },
    fontColors: {
      type: Object,
      required: false,
      default: function() {
        return {
          locked: "#ffffff",
          selected: "#ffffff",
          optional: "",
          deselected: "",
          alternative: "",
          excluded: "",
          excludedSelected: "",
          excludedLocked: ""
        };
      }
    },
    headerColors: {
      type: Object,
      required: false,
      default: function() {
        return {
          background: "#e6e6e6",
          icons: "#000"
        };
      }
    },
    headerIcons: {
      type: Object,
      required: false,
      default: function() {
        return {
          selectAll: {
            enabled: true,
            hidden: false
          },
          selectAlternative: {
            enabled: true,
            hidden: false
          },
          selectExcluded: {
            enabled: true,
            hidden: false
          },
          lock: {
            enabled: true,
            hidden: false
          },
          clearAll: {
            enabled: true,
            hidden: false
          }
        };
      }
    }
  },
  mixins: [clickaway],
  data() {
    return {
      showQlikField: "block",
      filter: ""
    };
  },
  methods: {
    away: function() {
      let _this = this;
      if (_this.clickAway == true) {
        if (_this.showQlikField == "block") {
          _this.showQlikField = "none";
        } else {
          _this.showQlikField = "block";
        }
      }
    },
    clicked: function(qValue) {
      this.$emit("clicked", qValue);
    },
    selectAll: function() {
      this.$emit("selectAll");
    },
    selectAlternative: function() {
      this.$emit("selectAlternative");
    },
    selectExcluded: function() {
      this.$emit("selectExcluded");
    },
    lock: function() {
      this.$emit("lock");
    },
    clearAll: function() {
      this.$emit("clearAll");
    },
    search: function(searchValue) {
      this.$emit("search", searchValue);
    }
  }
};
</script>

<style>
@import "~leonardo-ui/dist/leonardo-ui.min.css";

@font-face {
  font-family: "LUI icons";
  src: url(~leonardo-ui/dist/lui-icons.woff) format("woff"),
    url(~leonardo-ui/dist/lui-icons.ttf) format("truetype");
}

#qlik-field {
  position: relative;
  /* z-index: 1; */
  width: 252px;
  height: 400px;
  display: grid;
  grid-template-rows: auto minmax(390px, 400px);
}

.content {
  display: grid;
  grid-template-rows: auto minmax(290px, 350px);
  width: 252px;
  border: 1px;
  border-style: solid;
  border-top: 0px;
  -webkit-box-shadow: 10px 10px 6px -8px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 10px 10px 6px -8px rgba(0, 0, 0, 0.5);
  box-shadow: 10px 10px 6px -8px rgba(0, 0, 0, 0.5);
}

.arrow {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 12.5px 10px 12.5px;
}

.header {
  height: 40px;
}
</style>
